body{
    background-color: rgb(237, 242, 248);
}

.main{
    padding: 100px;
    display: grid;
    grid-template-areas: 
    ".comment1 .comment2 .comment3"
    
}

.comment1{
    background-color: rgb(115, 63, 200);
    margin: 10px;
}

.comment2{
    background-color: rgb(73 , 85,107);
    margin: 10px;
}

.comment3{
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.comment4{
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.comment5{
    background-color: rgb(45, 24, 44);
    margin: 10px;
}

