.Navbar {
        margin-left: 100px;
        box-sizing: border-box;
        display: flex;
        color: black;
        font-size: 30px;
        margin: 10px;
        align-items:center;
        justify-content: space-between;
}