@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    font-family: 'Ubuntu', sans-serif;
}

html {
	scroll-behavior: smooth;
}

/* Navbar-section */

.navbar{
   position: fixed;
   width: 100%;
   padding: 30px 0 !important;
font-family: 'Ubuntu', sans-serif;
}

.navbar .logo span{
    color: crimson;
}

ul.menu{
    display: flex;
    position: fixed;
    right: 0;
    margin: 0;
    z-index: 1;
}

.max-width{
    max-width: 1300px;
    padding: 0; 
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: flex;
}

.navbar .logo{
    color: rgba(0, 0, 0);
    font-size: 35px;
    font-weight: 600;
    padding: 0 60px;
}

.navbar .menu li{
    list-style: none;
}

.navbar .menu li a{
    color: crimson;
    font-size: 18px;
    font-weight: 500;
    margin:40px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;
    border-bottom: 4px black;
    
   
}

.btn btn-danger{
    border-radius: 10px;
    background: transparent;
    color: crimson;
    transition: all 0.3s ease;
}
.navbar .icon{
    display: none;
    position: absolute;
    right: 20px;
    color: rgb(255, 255, 255);
    transition: color 0.3s ease;

}

.navbar .icon:hover{
    color:crimson;
}

@media screen and (max-width:1000px){
    .navbar .icon{
        display: block;
    }
    .navbar .menu{
        display: none;
    }

    .navbar .menuResponsive{
        padding: 0 !important;
        margin: 0 ;
        margin-top: 300px;
        position: absolute;
        width: 100vw;
        background-color: rgba(175, 32, 32, 0.808);
        z-index: 1;
        overflow-x: hidden;
    }

    .navbar .menuResponsive li{
        font-size: 25px;
    }
}
/* Front-page */
.frontpage{
    background: #efefef;
   
    height: 100vh;
}
/* Home Section */

.home{
    font-family: 'Ubuntu', sans-serif ;
}

.home-content{
   
    top:50%;
    left: 40%;
    color: rgb(44, 44, 44);
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
}

.home .home-content .text-1 h1{
    font-size: 100px;
    font-weight: 700;
    color: rgb(17,19,23);
}

.home .home-content .text-1 p{
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(17,19,23); 
    color:white;
} 

.home .home-content .text-1 span{
    color:crimson;
} 

.line{
    background-color: rgb(128, 92, 92);
}

.stripe{
    position: absolute;
    z-index: -1;
    width: 1100px;
    margin-top: -200px;
}

.arrow-down{
    position: absolute;
    width: 600px;
    margin-top: 54em;
    margin-left: 6em;
}

.button_down button{
    border-radius: 1px;
    background: transparent;
    color: crimson;
    transition: all 0.3s ease;
    position: absolute;
    transform: translate3d(-50%,-50%, 0);
    top: 90%;
    left: 50%;
}



/* About Section */

#about{
    height: 100vh;
    background-color:rgb(255, 255, 255);
    position: relative;
}

.about-content{
   position: absolute;
   top: 10%;
   left: 15%;
   right: 45%;

}
.about-content button{
    border-radius: 1px;
    background: transparent;
    color: crimson;
    transition: all 0.3s ease;
}

.about-content h1{
    font-size: 70px;
    font-weight: 700;
  
}

.about-content img{
position: absolute;
width: 330px;
top: 0%;
left: 110%;


}

.about-skills{
position: absolute;
   top: 50%;
   left: 15%;
   right: 15%;
}

.about-skills h1{
    font-size: 70px;
    font-weight: 700;
}

.about-skills h3{
    font-size: 20px;
    font-weight: 700;
    background: rgba(220, 20, 60, 0.788);
    padding: 5px;
    color: whitesmoke;
    
}




/* Projects Section */
#projects{
    height: 100vh;
    background-color: blanchedalmond;
    position: relative;
}

.projects-content{
    top: 10%;
    left: 15%;
    right: 15%;
    position: absolute;
    color:rgba(0, 0, 0, 0.808);
    font-size: 30px;
}



.projects-content i{
    font-size: 23px;
}

.projects-content h1{
    font-weight: 700;
    font-size: 70px;
}

.projects-content h2{
    font-weight: 600;
    font-size: 40px
}

.projects-content p{
    font-weight: 200;
    font-size: 20px
}

.project1{
    color:rgba(0, 0, 0, 0.808);
    margin-top: 60px;
    margin-bottom: 60px;
}

.project2{
    color:rgba(0, 0, 0, 0.808);
}

.project3{
    color:rgba(0, 0, 0, 0.808);
}

.project1:hover{
    background-color: rgba(0, 0, 0, 0.808);
    color: blanchedalmond;
    transition: 0.4s ease;
}
.project2:hover{
    background-color: rgba(0, 0, 0, 0.808);
    color: blanchedalmond;
    transition: 0.4s ease;
}




/* Contact Section */

#contact{
    height: 100vh;
    color:whitesmoke;
    background-color: rgb(17,19,23); 
    position: relative;
  
}

.contact-text{
    top: 10%;
    left: 15%;
    
    position: absolute;
}

.contact-text h1{
    font-size: 70px;
    font-weight: 700;
    
}

.contactform{
    border-style: solid ;
    border-radius: 3px;
    border-color: whitesmoke;
    top:50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
    position: absolute;
    padding: 30px;
}



.contactform p{
    font-style: italic;
}

.contactform h1{
    color: crimson;
    transition: 0.4s ease;
}



#contact .contact-social{
    position: absolute;
    top:50%;
    left: 20%;
    transform: translate3d(-50%,-50%, 0);
    
}

#contact .contact-social i{
    padding: 40px;
}




#footer{
    height: 5vh;
    background: whitesmoke;
}